coverage==4.2
Django==1.9.1
PyXB==1.2.4
path.py==8.1.2
psycopg2==2.6.1
pystache==0.5.4
requests==2.9.1
django-debug-toolbar==1.4
django-tables2==1.0.7
lxml==3.5.0
django-auth-ldap==1.2.7
requests==2.9.1
